<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
     <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
      <%- include("../partials/nav.ejs") %>
      <div class="bookshelf-page">

          <h1 class="bookshelf-page-text">Books</h1>
          <div class="books-container">
              <% books.forEach((book) => {%>
                <a href="/books/<%= book._id %>" class="book-link">

                    <div class="book-container"> 
                        
                        <img class="book-img" src="<%= book.image %>" alt="<%= book.title %>">
                        <div class="book-title"> <%= book.title %></div> 
                    </div>
                </a>
                
                <% }) %>
            
        </div>
    </div>
</body>
</html>