<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/styles.css" />
  </head>
  <body>
    <%- include("../partials/nav.ejs") %>
    <h1><%= book.title %></h1>
    <img src="<%= book.image %>" alt="<%= book.title %>">
    <a href="/clubs/book/<%= book._id %>/new"> 
        <div>
            <button>create club</button>
        </div>
        
    </a>
    </div>
  </body>
</html>
