<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
     <%- include("../partials/nav.ejs") %>
     <div class="clubs-page">
         <h1>Clubs</h1>
         
         <div class="club-container">
             <% clubs.forEach((club) => {%>
                <div class="club-item"> 
                    <a href="/clubs/<%= club._id %>">
                        <div class="image-wrapper">
                            <img src="<%= club.book.image %>" alt="<%= club.book.title %>" class="club-image">
                            
                            
                            <h2 class="club-title"><%= club.title %> </h2>
                            
                            <button class="overlay-button"> View Club</button>
                        </div>
                    </a>
                </div>
                <% }) %>
            </div>
        </div>
        

</body>
</html>