<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
     <%- include("../partials/nav.ejs") %>
     <h1>Clubs page</h1>

     <div class="club-container">
        <% clubs.forEach((club) => {%>
            <div class="club-item"> 
                <a href="/clubs/<%= club._id %>">
                    <div class="image-wrapper">
                         <img src="<%= club.book.image %>" alt="<%= club.book.title %>" class="club-image">
                        
                        <button class="overlay-button"> View Club</button>
                    </div>
                    <div>
                    <h2><%= club.title %> </h2>
                </div>
                </a>
            </div>
         <% }) %>
     </div>

</body>
</html>