<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
     <%- include("../partials/nav.ejs") %>
     <h1>Clubs page</h1>

     <div>
        <% clubs.forEach((club) => {%>
            <div class="club-container"> 
                <h2><%= club.title %> </h2>
                <img src="<%= club.book.image %>" alt="<%= club.book.title %>">

            </div>
        
            <a href="/clubs/<%= club._id %>">
               <button> view club</button>
            </a>
         <% }) %>
     </div>

</body>
</html>